:root {
  --main-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --defoult-font-family: "Poppins", sans-serif;
  --element-transition: all 150ms ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  font-weight: bold;
}

h2 {
  font-size: 64px;
}

h3 {
  font-family: var(--defoult-font-family);
  font-size: 24px;
  opacity: 0.8;
}

h4 {
  font-family: var(--defoult-font-family);
  font-size: 48px;
  margin: 30px;
}

p {
  font-family: var(--defoult-font-family);
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;
}

img {
  box-shadow: var(--box-shadow);
}

a {
  text-align: center;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 15px 60px;
  border-radius: 8px;
  margin: 0 80px;
}

footer .contact-box p {
  margin: 0;
  font-size: 18px;
  padding: 0;
}

footer .email-footer {
  font-family: var(--defoult-font-family);
  text-decoration: none;
  font-size: 24px;
  color: black;
}

footer .email-footer:hover {
  color: var(--main-color);
}

footer .social-links a {
  margin: 0 20px;
  background-color: var(--secondary-color);
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 50%;
  transition: var(--element-transition);
}

footer .social-links a:hover {
  color: white;
  background: var(--main-color);
}

.menu a:hover {
  color: var(--main-color);
}

.active {
  color: var(--main-color) !important;
}

.hero-home {
  background: var(--secondary-color);
  padding: 160px 10px;
}

.hero-home p {
  color: black;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.hero-home h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

.main-buttons {
  display: flex;
}

.certificates-button {
  margin: 20px;
  border: 1px solid var(--main-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  color: var(--main-color);
  font-size: 18px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--element-transition);
}

.certificates-button:hover {
  border: 1px solid var(--main-color);
  box-shadow: var(--box-shadow);
  color: var(--main-color);
  transform: scale(1.1);
}

.contact-button {
  background: var(--main-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  color: white;
  font-size: 18px;
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--element-transition);
}

.contact-button:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.project-description {
  padding: 0 20px;
}

.project-button {
  background: white;
  border: 1px solid var(--main-color);
  box-shadow: var(--box-shadow);
  color: var(--main-color);
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  transition: var(--element-transition);
}

.project-button:hover {
  background: var(--main-color);
  color: white;
}

.hero-pages {
  padding: 10em 0 3em;
}

.hero-pages h1 {
  font-size: 3.5em;
  line-height: 65px;
  letter-spacing: -2px;
}

.hero-pages h2 {
  font-size: 18px;
  font-family: var(--defoult-font-family);
}

.hero-pages p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
}

.about-content {
  margin: 0 20px;
}

.about-title {
  font-size: 35px !important;
  font-weight: 500;
  margin: 0;
}

.certificates:hover {
  transform: scale(1.2);
  transition: var(--element-transition);
}

.skill {
  text-align: center;
}

.skill-visual i {
  background: var(--secondary-color);
  border-radius: 50%;
  color: #323133;
  font-size: 32px;
  margin: 0 20px;
  padding: 10px 16px;
  transition: var(--element-transition);
}

.skill-visual i:hover {
  color: var(--main-color);
  transition: var(--element-transition);
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }
  .hero-home {
    padding: 80px 10px;
  }
  .hero-home p {
    font-size: 26px;
  }
  .home-img {
    display: none;
  }

  .hero-pages h1 {
    line-height: 35px;
  }

  .container {
    text-align: center;
  }

  .project-description {
    padding: 0;
  }

  .project-button {
    display: block;
  }

  .hero-pages {
    text-align: center;
    padding: 5em 0 1em;
  }

  footer .contact-box {
    padding: 10px;
  }

  .text-footer {
    display: none;
  }
}
