:root {
  --main-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --defoult-font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  font-weight: bold;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 24px;
  opacity: 0.8;
}

p {
  font-family: var(--defoult-font-family);
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

img {
  box-shadow: var(--box-shadow);
}

a {
  text-align: center;
}

.hero {
  background: var(--secondary-color);
  padding: 160px 10px;
}

.hero p {
  color: #272142;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

.main-buttons {
  display: flex;
}

.about-button {
  margin: 20px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  color: var(--main-color);
  font-size: 18px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-button {
  background: var(--main-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  color: white;
  font-size: 18px;
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.project-description {
  padding: 120px 60px;
}

.project-button {
  background: white;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  color: var(--main-color);
  padding: 15px 15px;
  text-decoration: none;
}

.about-hero {
  padding: 160px 10px;
}

.about-hero h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-hero h2 {
  font-size: 18px;
  font-family: var(--defoult-font-family);
}

.about-hero p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  .hero {
    padding: 80px 10px;
  }
  .home-img {
    display: none;
  }

  .home-container {
    text-align: center;
  }

  .project-description {
    padding: 0;
  }

  .project-button {
    display: block;
  }

  .about-hero {
    text-align: center;
    padding: 0;
  }
}
